.eventListCard {
  background-color: #f4f7f6;
  padding: 10px;
  margin: 20px;
  gap: 20px;
  box-shadow: 0 4px 8px #251a2a;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#eventListImg {
  border-radius: 10px;
  width: 100%;
  margin: 10px;
}

.eventListImgContainer {
  max-width: 300px;
  justify-self: center;
  align-self: center;
}

#eventHeader {
  color: #007bff;
  font-size: 40px;
  margin: 20px;
  margin-top: 30px;
}

.eventDetailCard {
  background-color: #f4f7f6;
  padding: 10px;
  margin: 20px;
  gap: 20px;
  box-shadow: 0 4px 8px #251a2a;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.eventDetailCardInfo {
  display: grid;
  grid-template-columns: 1fr;
}

.eventCategoryAuthor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.eventTitle {
  text-decoration: underline;
  text-transform: capitalize;
  margin: 20px;
}

#category {
  justify-self: flex-start;
}

#author {
  justify-self: flex-end;
}

#description {
  margin: 20px;
}

.eventDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.eventDetailButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0px;
  gap: 20px;
}

#eventDetailImage {
  width: 100%;
  margin: 10px;
  border-radius: 20px;
}

.eventDetailImage {
  max-width: 300px;
  justify-self: center;
  align-self: center;
}

#closeEventDetails {
  margin: 5px;
  justify-self: center;
  align-self: center;
}

/* Form */
.eventFormCard {
  margin: 30px;
  padding: 40px;
  grid-template-columns: 1fr;
}
